

<ion-content [fullscreen]="true">
    <div class="content">
          <img src="../../../assets/img/Logopizza.jpg" alt="" srcset="">
          <h1>BIENVENUE</h1>
          <ion-card-content class="btn">
            <ion-button expand="block"  shape="" color="primary" size="large" href="/login">
              Se connecter
            </ion-button>
          </ion-card-content>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Coding with <span>&hearts;</span> by Abdallah Anrichidine </ion-title>
  </ion-toolbar>
</ion-footer>
